$black: #000;
$grayDarker: #383838;
$grayDark: #808080;
$gray: #a6a6a6;
$grayLight: #d9d9d9;
$grayLighter: #eee;
$white: #fff;

$darkBackground: $grayDarker;
$lightBackground: $grayLighter;

$blue: #03a9f4;
$mint: $blue;
$green: #259b24;
$orange: #ff9800;
$red: #ff3c00;
$inverse: #383838;
